# Credenciales InvertirOnLine (IOL)
IOL_KEY=your_iol_key_here
IOL_SECRET=your_iol_secret_here

# Credenciales Portfolio Personal Inversiones (PPI)
PPI_KEY=your_api_publica_here
PPI_SECRET=your_client_key_here
